.git
.github
.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
src/frontend/node_modules
src/frontend/dist
src/sis/src/frontend/node_modules
volumes
data
.env
.env.*
!.env.example
*.db
*.log
tests
docs
graphs
