.git
.github
.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
frontend/node_modules
frontend/dist
sis/frontend/node_modules
volumes
data
.env
.env.*
!.env.example
*.db
*.log
tests
docs
